## Deliverable 2. Create a Customer Travel Destinations Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [20]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Torbay,CA,47.6666,-52.7314,51.89,86,70,4.61,broken clouds
1,1,Pangnirtung,CA,66.1451,-65.7125,25.83,88,100,4.76,overcast clouds
2,2,Mataura,NZ,-46.1927,168.8643,53.47,61,89,4.41,overcast clouds
3,3,Quatre Cocos,MU,-20.2078,57.7625,71.71,58,74,20.18,broken clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,83.19,69,8,8.68,clear sky

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Hithadhoo,MV,-0.6000,73.0833,83.19,69,8,8.68,clear sky
10,10,Omealca,MX,18.7500,-96.7667,76.96,82,100,2.33,overcast clouds
12,12,Avarua,CK,-21.2078,-159.7750,78.85,69,75,16.11,broken clouds
13,13,Butaritari,KI,3.0707,172.7902,82.22,72,55,15.46,broken clouds
14,14,Lake City,US,30.1897,-82.6393,80.31,83,40,0.00,scattered clouds
15,15,Rikitea,PF,-23.1203,-134.9692,76.60,70,99,9.66,light rain
26,26,Manavalakurichi,IN,8.1333,77.3000,80.33,81,42,12.37,scattered clouds
34,34,Vaini,TO,-21.2000,-175.2000,79.14,77,0,6.33,clear sky
38,38,Alyangula,AU,-13.8483,136.4192,80.98,61,24,3.51,few clouds
41,41,Bowen,AU,-20.0167,148.2333,76.21,67,65,11.77,broken clouds

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                214
City                   214
Country                214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Current Description    214
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                214
City                   214
Country                214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Current Description    214
dtype: int64

In [25]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hithadhoo,MV,83.19,clear sky,-0.6000,73.0833,
10,Omealca,MX,76.96,overcast clouds,18.7500,-96.7667,
12,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,
13,Butaritari,KI,82.22,broken clouds,3.0707,172.7902,
14,Lake City,US,80.31,scattered clouds,30.1897,-82.6393,
15,Rikitea,PF,76.60,light rain,-23.1203,-134.9692,
26,Manavalakurichi,IN,80.33,scattered clouds,8.1333,77.3000,
34,Vaini,TO,79.14,clear sky,-21.2000,-175.2000,
38,Alyangula,AU,80.98,few clouds,-13.8483,136.4192,
41,Bowen,AU,76.21,broken clouds,-20.0167,148.2333,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df = hotel_df.replace("", nan_value)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hithadhoo,MV,83.19,clear sky,-0.6000,73.0833,Scoop Guest House
10,Omealca,MX,76.96,overcast clouds,18.7500,-96.7667,Yanga
12,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,Paradise Inn
13,Butaritari,KI,82.22,broken clouds,3.0707,172.7902,Isles Sunset Lodge
14,Lake City,US,80.31,scattered clouds,30.1897,-82.6393,Ramada Limited Lake City
...,...,...,...,...,...,...,...
724,Maragogi,BR,75.16,broken clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
725,Pakxan,LA,86.14,overcast clouds,18.3778,103.6601,Kong Kham Pheng Guesthouse
731,Surigao,PH,79.32,very heavy rain,9.7839,125.4889,Surigao Tourist Inn
735,Akyab,MM,81.68,overcast clouds,20.1500,92.9000,Hotel Memory
737,Singaraja,ID,85.30,clear sky,-8.1120,115.0882,Puri Bagus Lovina Resort

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))